nav {
  width: 100%;
  height: 60px;
  padding: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid hsl(240 3.7% 15.9%);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .title {
      text-decoration: none;
      font-size: 30px;
      color: hsl(0 0% 98%);
    }
    img {
      width: 30px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    a {
      color: hsl(0 0% 98%);
      text-decoration: none;
      font-size: 18px;

      transition: all 0.1s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
