* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: hsl(240 3.7% 15.9%) transparent;
  border-color: hsl(240 3.7% 15.9%);
}

@font-face {
  font-family: "Thernaly";
  src: url("/fonts/Thernaly-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Non-Buraeu";
  src: url("/fonts/NonBureau-Medium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src: url(/fonts/Geist-Regular.woff2);
}

:root {
  font-family: Geist;

  color-scheme: light dark;
  color: hsl(0 0% 98%);
  background-color: hsl(240 10% 3.9%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
